<div class="black-background"></div>
<div class="modalElement">
    <%= image_tag ("box1.jpg") %>
</div>

<div class="wrap">
    <div class="section">
    <div class="myIntro">
        <h1 class="intro">안녕하세요.<br>디자이너 윤민지입니다.</h1> 
        <!--<h8 class="introEn">Hi. I'm Designer Minji Yoon.</h8>-->
    </div>
    <hr>
    <div class="myInfo smallSection">
        <p class="profile">
            국민대학교 공업디자인학과 4학년<br>
            멋쟁이사자처럼 국민대학교 공동대표<br>
            프로젝트 눈누 PM 및 디자이너
        </p>
        <p class="like">
            <span class="c-yellow"> 미니언, 수제맥주, 코딩</span>을 좋아합니다.
        </p>
    </div>
    </div>
    
    <div class="mySkill section">
        <p class="title right">Skills</p>
        <p class="skillItem right">
            Illustrator<span class="skillLevel il"></span><br>
            Photoshop<span class="skillLevel ph"></span><br>
            Sketch<span class="skillLevel sktc"></span><br>
            HTML5<span class="skillLevel ht"></span><br>
            CSS3<span class="skillLevel cs"></span><br>
            <span class="subTitle">Sub Skills</span><br>
            jQuery<span class="skillLevel jq sub"></span><br>
            Premiere Pro<span class="skillLevel pp sub"></span><br>
            Protopie<span class="skillLevel ptp sub"></span><br>
        </p>
    </div>
    
    <div class="portfolio section">
        <p class="title">Portfolio</p>
        <ul class="grid col-md-12">
            <li class="gridBox"><%= image_tag ("box1.jpg") %></li>
            <li class="gridBox"><%= image_tag ("box2.jpg") %> </li>
            <li class="gridBox"><%= image_tag ("box3.jpg") %> </li>
            <li class="gridBox"><%= image_tag ("box4.jpg") %> </li>
            <li class="gridBox"><%= image_tag ("box5.jpg") %> </li>
            <li class="gridBox"><%= image_tag ("box6.jpg") %> </li>
        </ul>
    </div>
</div>

